<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SAM Associates Pvt.Ltd - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.ico') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">
  

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="">
        <!-- <h1>UpConstruction<span>.</span></h1> -->
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="services">Services</a></li>
          <li><a href="projects">Projects</a></li>
          <li><a href="blog">Blog</a></li>
          <li><a href="team">Team</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li> -->
          <li><a href="contact  ">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down" class="text-white">Welcome to SAM Associates</h2>
            <p data-aos="fade-up">SAM Associates is Pakistan's No.1 Real Estate Company. We offers a wide range of
              services, including buying, selling, property management, and marketing. Trust Samassociate.com to help
              you find the perfect property for your needs.</p>
            <a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started">Get Started</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url('static/assets/img/hero-carousel/hero-carousel-1.jpg')"></div>

      </div>
      <div class="carousel-item" style="background-image: url('static/assets/img/hero-carousel/hero-carousel-2.jpg')"></div>
      <div class="carousel-item" style="background-image: url('static/assets/img/hero-carousel/hero-carousel-3.jpg')"></div>
      <div class="carousel-item" style="background-image: url('static/assets/img/hero-carousel/hero-carousel-4.jpg')"></div>
      <div class="carousel-item" style="background-image: url('static/assets/img/hero-carousel/hero-carousel-5.jpg')"></div>
      

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="get-started section-bg">
      <div class="container">

        <div class="row justify-content-between gy-4">

          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
            <div class="content">
              <h3>About Us</h3>
              <p>Welcome to SAM Associates, where your real estate journey begins with a partner you can trust.
                Established in [Insert Year], we have built a reputation for expertise, integrity, and personalized
                service. Our experienced team is deeply connected to local markets, employing cutting-edge technology to
                streamline your experience. We are committed to transparency, have a vast global network, and engage
                with the communities we serve. Whether you're buying, selling, investing, or seeking consultation, SAM
                Associates is here to make your real estate dreams a reality.</p>
            </div>
          </div>

          <div class="col-lg-5" data-aos="fade">
            <form action="/connect" method="post" class="php-email-form">
              <h3>Let's Connect</h3>
              <p>Your journey begins with a simple message. Reach out to us, and let's turn your real estate dreams into
                reality.</p>
              <div class="row gy-3">

                <div class="col-md-12">
                  <input type="text" name="name" class="form-control" placeholder="Name" required>
                </div>

                <div class="col-md-12 ">
                  <input type="email" class="form-control" name="email" placeholder="Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="phone" placeholder="Phone" required>
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your quote request has been sent successfully. Thank you!</div>

                  <button type="submit">Connect with us </button>
                </div>

              </div>
            </form>
          </div><!-- End Quote Form -->

        </div>

      </div>
    </section><!-- End Get Started Section -->

    <!-- ======= Constructions Section ======= -->
    <!-- <section id="constructions" class="constructions">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Why SAM Associates?</h2>
          <p>SAM Associates is your trusted partner in real estate, known for expertise, integrity, and personalized
            service. Our commitment to your unique needs, community engagement, and a global network sets us apart.
            Whether you're buying, selling, investing, or seeking expert advice, we're here to make your real estate
            dreams a reality.</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg"  id="bg-1" style="background-image: url('/static/assets/img/constructions-1.jpg');"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Expertise</h4>
                    <p>Our team of experienced real estate professionals possesses in-depth knowledge of the local
                      market. We provide you with expert guidance and options to ensure you make informed decisions.</p>
                  </div>
                </div>
              </div>
            </div>
          </div> End Card Item -->

          <!-- <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" id="bg-2" style="background-image: url('/static/assets/img/constructions-2.jpg');"></div>

                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Integrity and Transparency</h4>
                    <p>Honesty and transparency are at the core of our values. We always act in your best interests,
                      ensuring that you receive honest, unbiased advice and a clear understanding of every transaction.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>End Card Item -->
        <!-- <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg"  id="bg-3" style="background-image: url('static/assets/img/constructions-3.jpg');"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Personalized Service</h4>
                    <p>We understand that every client is unique. We take the time to understand your individual needs
                      and aspirations, tailoring our services to provide you with a customized, client-centric
                      experience.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>End Card Item -->
            
          <!-- <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" id="bg-4" style="background-image: url('/static/assets/img/constructions-4.jpg');"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Cutting-Edge Technology</h4>
                    <p>We harness the latest technology to simplify and expedite the real estate process, making it more
                      efficient for you. From digital listings to virtual tours, we offer the tools you need for a
                      modern real estate experience.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>End Card Item

        </div>

      </div>
    </section>  -->
    <!--End Constructions Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Services</h2>
          <p>"Celebrating Your Real Estate Journey: Our Services, Your Success"</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>Residential Sales and Purchases</h3>
              <p>Whether you're buying your first home, upgrading to a larger property, or selling your existing home,
                we provide expert assistance throughout the residential real estate process.</p>
              <a href="service-details" class="readmore stretched-link">Learn more <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Investment Properties</h3>
              <p>Explore real estate investment opportunities with our guidance. We help you identify, assess, and
                acquire properties that align with your investment goals.</p>
              <a href="service-details" class="readmore stretched-link">Learn more <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>Property Management</h3>
              <p>If you're an investor seeking hassle-free property management, we offer comprehensive services. Our
                team handles tenant management, maintenance, and financial oversight to maximize your returns.</p>
              <a href="service-details" class="readmore stretched-link">Learn more <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-trowel-bricks"></i>
              </div>
              <h3>Commercial Real Estate</h3>
              <p>For businesses in need of commercial space, we provide expertise in purchasing or leasing suitable
                properties. We understand the unique requirements of commercial real estate and can help you find the
                ideal location.</p>
              <a href="service-details" class="readmore stretched-link">Learn more <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-helmet-safety"></i>
              </div>
              <h3>Consultation and Advice</h3>
              <p>Access personalized advice on various real estate aspects, including property valuation, investment
                strategies, market trends, and more. Our experts are here to address your queries and offer valuable
                insights.</p>
              <a href="service-details" class="readmore stretched-link">Learn more <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Real Estate Development Consultation</h3>
              <p>If you're considering real estate development projects, our team can provide valuable insights,
                feasibility studies, and project management guidance to bring your vision to life.
              </p>
              <a href="service-details" class="readmore stretched-link">Learn more <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section> -->
    <!-- End Services Section -->

    <!-- ======= Alt Services Section ======= -->
    <section id="alt-services" class="alt-services">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url(/static/assets/img/alt-services.jpg);" data-aos="zoom-in"
            data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Searching for the Premier Real Estate Partner?</h3>
            <p>"Choosing the best real estate company is a pivotal decision. At SAM Associates, we redefine excellence.
              With expertise, integrity, and a client-centric approach, we prioritize your unique needs. Our services
              cover all aspects of the real estate journey, from residential sales to investment properties. With us,
              your success in real estate begins here."</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Proven Local Expertise</a></h4>
                <p>Our team possesses deep knowledge of local real estate markets, offering valuable insights for your
                  property transactions.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Global Network</a></h4>
                <p>Our extensive connections span the globe, giving you access to a world of real estate opportunities.
                </p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Uncompromising Integrity</a></h4>
                <p>Trust and transparency are at the core of our operations, ensuring you receive honest and unbiased
                  guidance.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Sustainability and Responsibility</a></h4>
                <p>We actively promote eco-friendly, sustainable real estate solutions, contributing to a greener
                  future.</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features section-bg">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row  g-2 d-flex">

          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <h4>Investment Property Analysis</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <h4>Innovative Marketing</h4>
            </a><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <h4>Property Valuation</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
              <h4>Legal and Financial Guidance</h4>
            </a>
          </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content">

          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center"
                data-aos="fade-up" data-aos-delay="100">
                <h3>Investment Property Analysis</h3>
                <p class="fst-italic">
                  Investing in real estate is a significant financial decision, and it's vital to make informed choices
                  that maximize your return on investment (ROI). Our investment property analysis services are tailored
                  to help you assess the financial viability of potential investment properties.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> Rental Income Potential: We evaluate the property's potential for
                    rental income.</li>
                  <li><i class="bi bi-check2-all"></i> Long-Term Returns: We estimate the long-term financial returns
                    and potential for property appreciation.</li>
                  <li><i class="bi bi-check2-all"></i> Risk Assessment: We assess property-related risks.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="{{ url_for('static', filename='assets/img/features-1.jpg') }}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Innovative Marketing</h3>
                <p class="fst-italic">
                  In the dynamic world of real estate, innovative marketing is essential for effectively showcasing and
                  promoting properties. This service is designed to employ creative and modern marketing techniques to
                  make your property stand out and appeal to a wider audience of potential buyers or renters.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> Creative Presentation: We use professional photography, virtual
                    tours, and engaging property descriptions.</li>
                  <li><i class="bi bi-check2-all"></i>
                    Digital Strategies: We employ online marketing, including social media, email campaigns, and
                    targeted advertising.</li>
                  <li><i class="bi bi-check2-all"></i> Enhanced Visibility: Our strategies ensure your property gets
                    noticed in the competitive market.</li>
                  <li><i class="bi bi-check2-all"></i> Why It Matters: Innovative marketing maximizes the chances of a
                    successful real estate transaction by showcasing your property effectively and connecting it with
                    the right audience.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{{ url_for('static', filename='assets/img/features-2.jpg') }}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Property Valuation</h3>

                <ul>
                  <li><i class="bi bi-check2-all"></i> Market Assessment: We analyze local market conditions, including
                    property values and trends.</li>
                  <li><i class="bi bi-check2-all"></i> Appraisal: Our experienced appraisers determine the precise
                    market value, considering property condition, location, and comparable sales.</li>
                  <li><i class="bi bi-check2-all"></i> Financial Decision Support: Valuation supports informed financial
                    decisions for sales, refinancing, and portfolio assessment.</li>
                </ul>
                <p class="fst-italic">
                  Property valuation is a critical service that provides you with an accurate and comprehensive
                  understanding of the market value of your property. This is an essential tool for various real estate
                  transactions, including property sales, refinancing, and property assessment.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{{ url_for('static', filename='assets/img/features-3.jpg') }}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Legal and Financial Guidance</h3>
                <p class="fst-italic">
                  This service entails providing you with expert advice and guidance on the complex legal and financial
                  aspects of real estate transactions. Whether you're navigating legal contracts, exploring financing
                  options, or formulating investment strategies, our network of legal and financial experts is ready to
                  assist you.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> Legal Expertise: Access experienced legal professionals to
                    navigate complex real estate contracts.</li>
                  <li><i class="bi bi-check2-all"></i> Financial Insights: Receive guidance on financing options and
                    investment strategies.</li>
                  <li><i class="bi bi-check2-all"></i> Investment Support: Tailored investment strategies to optimize
                    returns and manage risk.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{{ url_for('static', filename='assets/img/features-4.jpg') }}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Our Projects Section ======= -->
    <section id="projects" class="projects">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Projects</h2>
          <p>"Transforming Visions into Reality: SAM Associates, Where Your Dream Projects Come to Life."</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
          data-portfolio-sort="original-order">

          <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-remodeling">General Block</li>
            <li data-filter=".filter-construction">Executive Block</li>
            <li data-filter=".filter-repairs">Overseas Block</li>
            <li data-filter=".filter-design">Investment Opportunities</li>
          </ul><!-- End Projects Filters -->

          <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img src="{{ url_for('static', filename='assets/img/projects/remodeling-1.jpg') }}" class="img-fluid"
                  alt="">
                <div class="portfolio-info">
                  <h4>General Block</h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                  <a href="{{ url_for('static', filename='assets/img/projects/remodeling-1.jpg') }}"
                    title="General Block" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>

                  <a href="project-details.html" title="More Details" class="details-link"><i
                      class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="{{ url_for('static', filename='assets/img/projects/construction-1.jpg') }}" class="img-fluid"
                  alt="">
                <div class="portfolio-info">
                  <h4>Executive Block</h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                  <a href="{{ url_for('static', filename='assets/img/projects/construction-1.jpg') }}"
                    title="Construction 1" data-gallery="portfolio-gallery-construction"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="project-details.html" title="More Details" class="details-link"><i
                      class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->


            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src="{{ url_for('static', filename='assets/img/projects/repairs-1.jpg') }}" class="img-fluid"
                  alt="">
                <div class="portfolio-info">
                  <h4>Overseas Block</h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                  <a href="{{ url_for('static', filename='assets/img/projects/repairs-1.jpg') }}" title="Repairs 1"
                    data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="{{ url_for('static', filename='project-details.html') }}" title="More Details"
                    class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->


            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
              <div class="portfolio-content h-100">
                <img src="{{ url_for('static', filename='assets/img/projects/design-1.jpg') }}" class="img-fluid"
                  alt="">
                <div class="portfolio-info">
                  <h4>Investment Opportunities</h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                  <a href="{{ url_for('static', filename='assets/img/projects/design-1.jpg') }}" title="Repairs 1"
                    data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="{{ url_for('static', filename='project-details.html') }}" title="More Details"
                    class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->


            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img src="{{ url_for('static', filename='assets/img/projects/remodeling-2.jpg') }}" class="img-fluid"
                  alt="">
                <div class="portfolio-info">
                  <h4>General Block</h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                  <a href="{{ url_for('static', filename='assets/img/projects/remodeling-2.jpg') }}"
                    title="General Block" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="{{ url_for('static', filename='project-details.html') }}" title="More Details"
                    class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->


            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="{{ url_for('static', filename='assets/img/projects/construction-2.jpg') }}" class="img-fluid"
                  alt="">
                <div class="portfolio-info">
                  <h4>Executive Block</h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                  <a href="{{ url_for('static', filename='assets/img/projects/construction-2.jpg') }}"
                    title="Executive Block" data-gallery="portfolio-gallery-construction"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{{ url_for('static', filename='project-details.html') }}" title="More Details"
                    class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->


            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src="{{ url_for('static', filename='assets/img/projects/repairs-2.jpg') }}" class="img-fluid"
                  alt="">
                <div class="portfolio-info">
                  <h4>Overseas Block</h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                  <a href="{{ url_for('static', filename='assets/img/projects/repairs-2.jpg') }}" title="Repairs 2"
                    data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="{{ url_for('static', filename='project-details.html') }}" title="More Details"
                    class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->


            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
              <div class="portfolio-content h-100">
                <img src="{{ url_for('static', filename='assets/img/projects/design-2.jpg') }}" class="img-fluid"
                  alt="">
                <div class="portfolio-info">
                  <h4>Investment Opportunities</h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                  <a href="{{ url_for('static', filename='assets/img/projects/design-2.jpg') }}" title="Repairs 2"
                    data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="{{ url_for('static', filename='project-details.html') }}" title="More Details"
                    class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->


            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img src="{{ url_for('static', filename='assets/img/projects/remodeling-3.jpg') }}" class="img-fluid"
                  alt="">
                <div class="portfolio-info">
                  <h4>General Block</h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                  <a href="{{ url_for('static', filename='assets/img/projects/remodeling-3.jpg') }}"
                    title="General Block" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="{{ url_for('static', filename='project-details.html') }}" title="More Details"
                    class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->


            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="{{ url_for('static', filename='assets/img/projects/construction-3.jpg') }}" class="img-fluid"
                  alt="">
                <div class="portfolio-info">
                  <h4>Executive Block</h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                  <a href="{{ url_for('static', filename='assets/img/projects/construction-3.jpg') }}"
                    title="Executive Block" data-gallery="portfolio-gallery-construction"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{{ url_for('static', filename='project-details.html') }}" title="More Details"
                    class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->


            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src="{{ url_for('static', filename='assets/img/projects/repairs-3.jpg') }}" class="img-fluid"
                  alt="">
                <div class="portfolio-info">
                  <h4>Overseas Block</h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                  <a href="{{ url_for('static', filename='assets/img/projects/repairs-3.jpg') }}" title="Repairs 3"
                    data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="{{ url_for('static', filename='project-details.html') }}" title="More Details"
                    class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->


            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
              <div class="portfolio-content h-100">
                <img src="{{ url_for('static', filename='assets/img/projects/design-3.jpg') }}" class="img-fluid"
                  alt="">
                <div class="portfolio-info">
                  <h4>Investment Opportunities</h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                  <a href="{{ url_for('static', filename='assets/img/projects/design-3.jpg') }}" title="Design 3"
                    data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="{{ url_for('static', filename='project-details.html') }}" title="More Details"
                    class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->


          </div><!-- End Projects Container -->

        </div>

      </div>
    </section><!-- End Our Projects Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>"Success Stories, Satisfied Clients: Discover What Our Clients Have to Say About Their RealEstate Journey
            with SAM Associates."</p>
        </div>

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials-1.jpg') }}"
                    class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    SAM Associates made my home-buying journey a breeze. Their expertise and commitment to my needs were
                    outstanding. I found the perfect place to call home, and I couldn't be happier with the support I
                    received.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials-2.jpg') }}"
                    class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    As an investor, I needed a real estate partner who understood my financial goals. SAM Associates
                    provided invaluable insight and tailored investment strategies that have helped me grow my portfolio
                    successfully. Their commitment to my success is unmatched.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials-3.jpg') }}"
                    class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Selling my property with SAM Associates was a smart choice. Their innovative marketing techniques
                    and in-depth market knowledge led to a quick and profitable sale. I highly recommend their services.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials-4.jpg') }}"
                    class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Relocating to a new area was made stress-free thanks to SAM Associates. Their relocation support
                    ensured a smooth transition for our family. We found the perfect home, and their local expertise
                    made all the difference.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials-5.jpg') }}"
                    class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    SAM Associates helped us find the perfect commercial space for our business. Their knowledge of the
                    local market and dedication to our unique requirements made the process efficient and successful.
                    We're thriving in our new location.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">
      <div class="container" data-aos="fade-up"">

    
    
  <div class=" section-header">
        <h2>Recent Blog Posts</h2>
        <p>
          "Exploring the World of Real Estate: Insights, Trends, and Expertise from SAM Associates' Blog. Stay Informed,
          Stay Inspired."</p>
      </div>

      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="{{ url_for('static', filename='assets/img/blog/blog-1.jpg') }}" class="img-fluid" alt="">
              <span class="post-date">December 12</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Navigating the Real Estate Landscape: The SAM Associates Experience</h3>

              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i> <span class="ps-2">Julia Parker</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i> <span class="ps-2">Politics</span>
                </div>
              </div>

              <hr>

              <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i
                  class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <img src="{{ url_for('static', filename='assets/img/blog/blog-2.jpg') }}" class="img-fluid" alt="">
              <span class="post-date">July 17</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Rudn Enclave: An Emerging Society and a Prime Investment Opportunity</h3>

              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i> <span class="ps-2">Mario Douglas</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i> <span class="ps-2">Sports</span>
                </div>
              </div>

              <hr>

              <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i
                  class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6">
          <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

            <div class="post-img position-relative overflow-hidden">
              <img src="{{ url_for('static', filename='assets/img/blog/blog-3.jpg') }}" class="img-fluid" alt="">

              <span class="post-date">September 05</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">DHA: A Benchmark of Excellence in Real Estate Development</h3>

              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i> <span class="ps-2">Lisa Hunter</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i> <span class="ps-2">Economics</span>
                </div>
              </div>

              <hr>

              <a href="blog-details-1.html" class="readmore stretched-link"><span>Read More</span><i
                  class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->

      </div>

      </div>
    </section>
    <!-- End Recent Blog Posts Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>SAM Associates</h3>
              <p>
                Plaza No.48, Walayat Complex, <br>Bahria Town Phase 7, Rawalpindi
                <br><br>
                <strong>Phone:</strong> +92 331 111 11 72<br>
                <strong>Email:</strong> info@samassociate.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about">About</a></li>
              <li><a href="services">Services</a></li>
              <li><a href="project">Projects</a></li>
              <!-- <li><a href="#">Blog</a></li> -->
              <li><a href="team.html">Team</a></li>
              <!-- <li><a href="#">Contact</a></li> -->
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Projects</h4>
            <ul>
              <li><a href="project">All</a></li>
              <li><a href="project">General Block</a></li>
              <li><a href="project">Executive Block</a></li>
              <li><a href="project">OverSeas Block</a></li>
              <li><a href="project">Investment Opportunities</a></li>
            </ul>
          </div><!-- End footer links column-->
        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>SAM Associates</span></strong>. All Rights Reserved
        </div>
        <div class="credits">

          Designed by <a href="">Nafees Haider</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>
  <script id="ratufa_loader" src="https://www.ratufa.io/c/ld.js?f=zp8uubct&n=n1.ratufa.io"></script>
  


  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>


</body>

</html>